/* This file is for your main application css. */
table.board {
    border: 2px solid black
}

table.board td {
    empty-cells: show;
    width: 5px;
    height: 5px;
    border: 0.5px solid black;
}

table.board td.alife{
    background-color: black
}